<div class="row-fluid">
    <div class="span8">
        <div class="box">
            <header>
                <h5>Calendar</h5>
            </header>
            <div id="calendar_content" class="body">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="box">
            <header>
                <div class="icons"><i class="icon-tags"></i></div>
                <h5>Todos</h5>
            </header>
            <div class="block">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>sdg</td>
                            <td>dsfg</td>
                        </tr>
                        <tr>
                            <td>sdfg</td>
                            <td>dfg</td>
                        </tr>
                        <tr class="success">
                            <td>dsfg</td>
                            <td>dfg</td>
                        </tr>
                        <tr>
                            <td>dfgh</td>
                            <td>dfh</td>
                        </tr>
                        <tr>
                            <td>dfgh</td>
                            <td>dfhg</td>
                        </tr>
                        <tr>
                            <td>ddfghdfgh</td>
                            <td>dfh</td>
                        </tr>
                        <tr>
                            <td>dfh</td>
                            <td>ddfhdh</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>