<div class="tac">
    <a class="quick-btn" href="#">
        <i class="icon-bolt icon-2x"></i>
        <span>inverse</span>
        <span class="label label-inverse">2</span>
    </a>
    <a class="quick-btn" href="#">
        <i class="icon-check icon-2x"></i>
        <span>important</span>
        <span class="label label-important">2</span>
    </a>
    <a class="quick-btn" href="#">
        <i class="icon-building icon-2x"></i>
        <span>No Label</span>
    </a>
    <a class="quick-btn" href="#">
        <i class="icon-envelope icon-2x"></i>
        <span>success</span>
        <span class="label label-success">-456</span>
    </a>
    <a class="quick-btn" href="#">
        <i class="icon-signal icon-2x"></i>
        <span>warning</span>
        <span class="label label-warning">+25</span>
    </a>
    <a class="quick-btn" href="#">
        <i class="icon-external-link icon-2x"></i>
        <span>&pi;</span>
        <span class="label btn-metis-2">3.14159265</span>
    </a>
    <a class="quick-btn" href="#">
        <i class="icon-lemon icon-2x"></i>
        <span>&eacute;</span>
        <span class="label btn-metis-4">2.71828</span>
    </a>
    <a class="quick-btn" href="#">
        <i class="icon-glass icon-2x"></i>
        <span>&phi;</span>
        <span class="label btn-metis-3">1.618</span>
    </a>
</div>