<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>

    </head>
    <body>

{% trans %}Hello, {{ name }}, it is nice to see you today!{% endtrans %}
    </body>
</html>